<!DOCTYPE html>
<html>
<head><title>Detalii Anime</title></head>
<body style="padding: 50px; font-family: Arial;">
    <h1>Detalii: <%= anime.titlu %></h1>
    <p><strong>Gen:</strong> <%= anime.gen %></p>
    <p><strong>Episoade:</strong> <%= anime.eps %></p>
    <br>
    <a href="/anime">⬅ Inapoi la lista</a>
</body>
</html>